<section class="technologies">
  <h2 class="technologies__heading">This site was created using</h2>
  <ul class="technologies__list">
    <li class="technologies__item">
      <div class="technologies__logo">
      <img src="/images/javascript.svg" alt="JavaScript logo">
      </div>
      <h3 class="technologies__title">JavaScript</h3>
    </li>
    <li class="technologies__item">
      <div class="technologies__logo">
      <img src="/images/590px-Node.js_logo.svg.png" alt="Node.js logo">
      </div>
      <h3 class="technologies__title">Node.js</h3>
    </li>
    <li class="technologies__item">
      <div class="technologies__logo">
      <img src="/images/eleventy.png" alt="Eleventy logo">
      </div>
      <h3 class="technologies__title">Eleventy</h3>
    </li>
    <li class="technologies__item">
      <div class="technologies__logo">
      <img src="/images/nunjucks.png" alt="NunJucks logo">
      </div>
      <h3 class="technologies__title">NunJucks</h3>
    </li>
</section>