---
title: "Eleventy Portfolio"
layout: "base.njk"
---

<section class="bio prose">
  <h2 class="heading--main">My story</h2>
  <p>I started my journey into Web Development in 2022. I have always been into tech and love learning about new technology. I plan on graduating from SUNY Orange in the spring of 2024.</p>
 </section>