---
title: "Eleventy Portfolio"
layout: "base.njk"
---

<h2 class="heading--main text-center">Want to get in touch?</h2>
<p class="contact__sub-heading text-center">I'm always open to new opportunities and projects. </p>

<section class="bio prose">
  <h2>Email</h2>
  <p>kar83@sunyorange.edu</p>
</section>
